* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}



.nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-title {
  margin-left: 100px;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav-btn {
  background: white;
  padding: 5px 5px 5px 5px;
  margin-right: 50px;
  border: black;
  transition-duration: 0.4s;
  font-size: 1rem;
}

.nav-btn:hover {
  background-color: rgb(48, 53, 53); 
  border-radius: 40%;
  color: white;
  }

.row {
  display: flex;
}


.avatar-m {
  height: 150px;
  border-radius: 50%;
  padding: 5px 5px ;
  margin: 20px;
  margin-left: 40px;
  background-color: white;
}

.avatar {
  height: 80px;
  border-radius: 50%;
}

.map, .gear {
  height: 20px;
}

.row-1 {
  margin: 10px;
  padding: 10px;
}

.row-2 {
  margin: 10px;
  padding: 10px;
}

.flex-container {
  width: 90%;
  margin: 0 auto;
  
}

.user-card, .card-edu {
  background:white;
  width: 500px;
  border: 3px solid lightgray;
  font: 1rem;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 5px;
  
}

.card-header {
  background: rgb(48, 53, 53);
  height: 150px;
  margin-bottom: 40px;
}

.card-body {
  margin-left: 10px;
}

.header {
  background: rgb(48, 53, 53);
  color: white;
  font-size: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.dates {
  color: rgb(158, 152, 152);
}

.connection {
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 20px;
  padding: 7px 7px;
  margin-right: 10px;
}

 .icons {
   height: 25px;
   margin-left: 10px;
 }

 .card-request {
  background:white;
  border: 3px solid lightgray;
  font: 1rem;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 5px;
 }

 .card-connection {
  background:white;
  border: 3px solid lightgray;
  font: 1rem;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 5px;
 }

 .user, .name {
   display: flex;
   justify-content: space-between;
   margin: 10px;
   padding-right: 10px;
 }

 .btn-check {
   display: flex;
   align-items: center;
   font-size: 15;
   margin-bottom: 10px;
 }
 .name-1 {
   margin-top: 30px;
   margin-left: 10px;
 }


 .footer {
   border-top: 2px solid lightgray;
 }

 .footer a {
   display: flex;
   justify-content: center;
   padding: 5px;
   margin-top: 5px;
   color: black;
 }

